# Python
__pycache__/
*.pyc

# Databases
*.db
*.sqlite
*.sqlite3

stock_data/
analysis/
logs/
plan/
scraperFiles/
financials/
modules/financials/


data/analysis/
data/backupData/

**/data/systemFiles/account_ledger.csv
**/data/systemFiles/executed_trade_notes.csv
**/data/systemFiles/journal.csv
**/data/systemFiles/Webull_Orders_Records.csv

# IDE
.vscode/
.idea/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini